/* Shipping.css */

/* Wrapper for the entire form */
.wrapper {
    margin-top: 20px;
    background-image: url('C:\Users\Rosaline Roshni\Downloads\EsterAura\frontend\public\images\shipping.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end; /* Move the form to the left side */
  }
  
  /* Form container */
  .shadow-lg {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(155, 116, 33, 0.1);
  }
  
  /* Headings */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Form fields */
  .form-label {
    font-weight: bold;
    text-align: center;
  }
  
  /* Address field */
  #address_field {
    border-color: #ffae00; /* Blue border for active input */
  }
  
  /* City field */
  #city_field {
    border-color: #ffae00; /* Blue border for active input */
  }
  
  /* Phone No field */
  #phone_field {
    border-color: #ffae00; /* Blue border for active input */
  }
  
  /* Postal Code field */
  #postal_code_field {
    border-color: #ffae00; /* Blue border for active input */
  }
  
  /* Country field */
  #country_field {
    border-color: #ffae00; /* Blue border for active input */
  }
  
  /* State field */
  #state_field {
    border-color: #ffae00; /* Blue border for active input */
  }
  
  /* Error messages */
  .toast-bottom-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6961; /* You can use any error color you prefer */
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px;
  }
  
  /* Submit button */
  #shipping_btn {
    background-color: #ffae00;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #shipping_btn:hover {
    background-color: #ffae00;
  }

  .form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Set background color with some transparency */
    padding: 20px; /* Add some padding for better appearance */
    max-width: 50%; /* Limit the form container width to a certain size */
  }
  